@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* стили для слайдера SWIPER*/
html,
body {
  position: relative;
  height: 100%;
}

body {
  background-color: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
}

.main-page {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-page__wrapper {
  max-width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 815px) {
  .main-page__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.main-page__title {
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 4px 4px #fff;
  z-index: 2;
  line-height: calc( 16px + 71 * ((100vw - 320px) / 1600) );
  font-size: calc( 14px + 66 * ((100vw - 320px) / 1600) );
}
@media (max-width: 815px) {
  .main-page__title {
    opacity: 0.8;
    z-index: 4;
    margin-bottom: 80px;
  }
}
@media (max-width: 665px) {
  .main-page__title {
    margin-bottom: 40px;
  }
}
.main-page__img {
  z-index: 3;
  position: absolute;
  top: 10%;
  max-width: calc( 216px + 449 * ((100vw - 320px) / 1600) );
}
@media (max-width: 1440px) {
  .main-page__img {
    top: 5%;
  }
}
@media (max-width: 980px) {
  .main-page__img {
    top: 17%;
  }
}
@media (max-width: 530px) {
  .main-page__img {
    top: 23%;
  }
}
.main-page__link {
  font-weight: 700;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e73334;
  border-radius: 27px;
  color: #fff;
  text-decoration: none;
  width: auto;
  z-index: 3;
  -webkit-box-shadow: 0px 0px 29px 16px #e73334;
          box-shadow: 0px 0px 29px 16px #e73334;
  font-size: calc( 12px + 33 * ((100vw - 320px) / 1600) );
  padding: calc( 15px + 19 * ((100vw - 320px) / 1600) );
}
.main-page__link:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 29px 16px #fff;
          box-shadow: 0px 0px 29px 16px #fff;
  color: #e73334;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
@media (max-width: 830px) {
  .main-page__link {
    border-radius: 10px;
    width: 160px;
  }
}
@media (max-width: 440px) {
  .main-page__link {
    width: 112px;
  }
}
.main-page__crutch {
  width: 34px;
  display: inline-block;
}

.section-right {
  background-color: #fff;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
@media (max-width: 830px) {
  .section-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #000;
    height: auto;
  }
}
.section-right__trap {
  position: absolute;
  width: 70%;
  top: 0;
  right: 0;
  height: 100vh;
  border-left: 300px solid transparent;
  border-bottom: 100vh solid #e73334;
}
@media (max-width: 830px) {
  .section-right__trap {
    display: none;
  }
}
.section-right__image-wrapper {
  margin-left: calc( 50px + 150 * ((100vw - 320px) / 1600) );
}
@media (max-width: 830px) {
  .section-right__image-wrapper {
    margin: 0;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 0;
    background-color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.section-right__img {
  width: calc( 199px + 401 * ((100vw - 320px) / 1600) );
}
.section-right__content {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: calc( 30px + 50 * ((100vw - 320px) / 1600) );
}
@media (max-width: 830px) {
  .section-right__content {
    background-color: #e73334;
    width: 70%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.section-right__title {
  font-weight: 700;
  font-size: calc( 15px + 17 * ((100vw - 320px) / 1600) );
  line-height: calc( 18px + 21 * ((100vw - 320px) / 1600) );
  margin-bottom: calc( 20px + 20 * ((100vw - 320px) / 1600) );
}
.section-right__text {
  font-weight: 500;
  font-size: calc( 12px + 13 * ((100vw - 320px) / 1600) );
  line-height: calc( 15px + 15 * ((100vw - 320px) / 1600) );
  margin-bottom: calc( 20px + 30 * ((100vw - 320px) / 1600) );
}
@media (max-width: 830px) {
  .section-right__text {
    margin-bottom: 0;
  }
}
.section-right__link {
  font-weight: 700;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #fff;
  border-radius: 23px;
  text-decoration: none;
  padding: 30px 90px;
  color: #fff;
  width: auto;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: calc( 11px + 21 * ((100vw - 320px) / 1600) );
  line-height: calc( 11px + 28 * ((100vw - 320px) / 1600) );
}
.section-right__link:hover {
  background-color: #fff;
  color: #e73334;
  border: 2px solid #fff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
@media (max-width: 1440px) {
  .section-right__link {
    padding: 20px 30px;
  }
}
@media (max-width: 830px) {
  .section-right__link {
    border-radius: 10px;
    margin-top: 40px;
  }
}
@media (max-width: 440px) {
  .section-right__link {
    width: 135px;
    font-weight: 500;
    height: 43px;
  }
}

.section-left {
  background-color: #000;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin: 50px 0;
}
@media (max-width: 830px) {
  .section-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
  }
}
.section-left__trap {
  position: absolute;
  width: 70%;
  top: 0;
  left: 0;
  height: 100vh;
  border-right: 300px solid transparent;
  border-bottom: 100vh solid #000;
  z-index: 2;
}
@media (max-width: 830px) {
  .section-left__trap {
    display: none;
  }
}
.section-left__image-wrapper {
  margin-right: calc( 50px + 30 * ((100vw - 320px) / 1600) );
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 60px;
  width: 70%;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 830px) {
  .section-left__image-wrapper {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
  }
}
.section-left__img {
  z-index: 2;
  max-width: calc( 199px + 301 * ((100vw - 320px) / 1600) );
}
.section-left__content {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: calc( 30px + 50 * ((100vw - 320px) / 1600) );
}
@media (max-width: 830px) {
  .section-left__content {
    background-color: #000;
    width: 70%;
    border: 4px solid #fff;
  }
}
.section-left__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 40px;
}
.section-left__text {
  font-weight: 500;
  margin-bottom: calc( 20px + 30 * ((100vw - 320px) / 1600) );
  font-size: calc( 12px + 13 * ((100vw - 320px) / 1600) );
  line-height: calc( 15px + 15 * ((100vw - 320px) / 1600) );
}
.section-left__link {
  font-weight: 700;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 7px;
  text-decoration: none;
  padding: 30px 90px;
  background-color: #fff;
  color: #000;
  -ms-flex-item-align: end;
      align-self: end;
  border: 3px solid #fff;
  text-align: center;
  font-size: calc( 13px + 19 * ((100vw - 320px) / 1600) );
  line-height: calc( 12px + 27 * ((100vw - 320px) / 1600) );
}
.section-left__link:hover {
  background-color: #000;
  color: #fff;
  border: 3px solid #fff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
@media (max-width: 1440px) {
  .section-left__link {
    padding: 20px 27px;
  }
}
@media (max-width: 830px) {
  .section-left__link {
    -ms-flex-item-align: center;
        align-self: center;
    border-radius: 4px;
    width: 247px;
  }
}
@media (max-width: 444px) {
  .section-left__link {
    padding: 10px;
    font-weight: 500;
    width: 175px;
  }
}

.section-gallary {
  margin-top: calc( 30px + 170 * ((100vw - 320px) / 1600) );
}
@media (max-width: 830px) {
  .section-gallary {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.section-gallary__container {
  max-width: 1550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 830px) {
  .section-gallary__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}
.section-gallary__card {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.section-gallary__img {
  -webkit-box-shadow: 0px 0px 60px 18px #fff;
          box-shadow: 0px 0px 60px 18px #fff;
  border-radius: 26px;
  margin-bottom: 60px;
  max-width: 300px;
}
.section-gallary__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.section-blur {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
  margin-top: calc( 30px + 70 * ((100vw - 320px) / 1600) );
}
.section-blur::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}
.section-blur__img {
  width: calc( 300px + 1620 * ((100vw - 320px) / 1600) );
}
@media (max-width: 680px) {
  .section-blur__img {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
}
@media (max-width: 420px) {
  .section-blur__img {
    height: 150px;
  }
}
.section-blur__wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  width: 43%;
  top: 26%;
  left: 29%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
@media (max-width: 1440px) {
  .section-blur__wrapper {
    top: 13%;
  }
}
@media (max-width: 830px) {
  .section-blur__wrapper {
    width: 75%;
    left: 13%;
  }
}
.section-blur__title {
  font-weight: 700;
  font-size: calc( 11px + 25 * ((100vw - 320px) / 1600) );
  line-height: calc( 13px + 31 * ((100vw - 320px) / 1600) );
  margin-bottom: calc( 5px + 55 * ((100vw - 320px) / 1600) );
}
.section-blur__text {
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  font-size: calc( 10px + 20 * ((100vw - 320px) / 1600) );
  line-height: calc( 12px + 24 * ((100vw - 320px) / 1600) );
}

.is-red {
  color: #e73334;
}

.footer {
  height: 30vh;
  padding: 100px 0;
}
@media (max-width: 830px) {
  .footer {
    padding-top: 50px;
  }
}
.footer__contact {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 100px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /******************************************************************************/
}
@media (max-width: 830px) {
  .footer__contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}
.footer__link {
  font-weight: 700;
  color: #000;
  text-decoration: none;
  margin-right: 90px;
  padding: 20px 0;
  font-size: calc( 14px + 16 * ((100vw - 320px) / 1600) );
  line-height: calc( 16px + 20 * ((100vw - 320px) / 1600) );
}
@media (max-width: 830px) {
  .footer__link {
    background-color: #fff;
    margin-right: 0;
    margin-bottom: 15px;
    padding: 15px 30px;
    width: 70%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 7px;
  }
}
.footer .vk-link {
  width: auto;
  padding: 10px;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.popup__body {
  background-color: #e73334;
  min-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  border-radius: 21px;
  height: calc( 350px + 150 * ((100vw - 320px) / 1600) );
  padding: calc( 30px + 20 * ((100vw - 320px) / 1600) );
}
.popup__btn {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  top: -3%;
  right: -8px;
  z-index: 5;
  position: absolute;
  cursor: pointer;
}
.popup__btn:before, .popup__btn:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 1px;
  background: #e73334;
  top: 48%;
  left: 24%;
}
.popup__btn::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup__btn:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(200, 200, 200, 0.9);
}
.form__input {
  width: 80%;
  background-color: #fff;
  border-radius: 17px;
  padding: 10px;
  border: none;
  margin-bottom: 20px;
  text-indent: 15px;
  font-weight: 700;
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: calc( 14px + 11 * ((100vw - 320px) / 1600) );
  line-height: calc( 16px + 14 * ((100vw - 320px) / 1600) );
}
.form__btn {
  padding: 8px 20px;
  border: 3px solid #fff;
  border-radius: 17px;
  color: #fff;
  width: auto;
  background-color: #e73334;
  cursor: pointer;
  font-weight: 700;
  margin-top: 40px;
  font-size: calc( 14px + 16 * ((100vw - 320px) / 1600) );
  line-height: calc( 16px + 20 * ((100vw - 320px) / 1600) );
}
.form__btn:hover {
  background-color: #fff;
  color: #e73334;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.is-open {
  opacity: 1;
  z-index: 4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.form * {
  outline: none;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 15px #fff;
          box-shadow: 0 0 15px #fff;
}

.swiper {
  width: 100%;
  height: 100%;
}

.is-none {
  display: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: calc( 0px + 70 * ((100vw - 320px) / 1600) );
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-img {
  -webkit-box-shadow: 0px 0px 60px 18px #fff;
          box-shadow: 0px 0px 60px 18px #fff;
  border-radius: 26px;
  margin-bottom: 60px;
  max-width: 300px;
}
@media (max-width: 830px) {
  .swiper-img {
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 40px 9px #fff;
            box-shadow: 0px 0px 40px 9px #fff;
  }
}
@media (max-width: 440px) {
  .swiper-img {
    max-width: 230px;
  }
}
@media (max-width: 380px) {
  .swiper-img {
    max-width: 200px;
  }
}

.swiper-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 10px 20px;
}

@media (max-width: 440px) {
  .link-width {
    width: 215px;
  }
}
@media (max-width: 360px) {
  .link-width {
    width: 200px;
  }
}
@media (max-width: 340px) {
  .link-width {
    width: 193px;
  }
}

/*# sourceMappingURL=style.css.map */