$black: #000;
$white: #fff;
$red: #e73334;

$maxWidth: 1920;
$maxWidthContainer: 1500;

@mixin adaptiv($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type == 1 {
    //только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} *
          ((100vw - 320px) / #{$maxWidthContainer - 320})
      );
    }
  } @else if $type == 2 {
    //только если больше контейнера
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
      );
    }
  } @else {
    //всегда
    #{$property}: calc(
      #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
    );
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* стили для слайдера SWIPER*/
html,
body {
  position: relative;
  height: 100%;
}

body {
  background-color: $black;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: $white;
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
}

//

.main-page {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  &__wrapper {
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    @media (max-width: 815px) {
      justify-content: center;
    }
  }
  &__title {
    font-weight: 700;
    text-align: center;
    text-shadow: 0px 4px 4px $white;
    z-index: 2;

    @include adaptiv("line-height", 87, 16, 0);
    @include adaptiv("font-size", 80, 14, 0);

    @media (max-width: 815px) {
      opacity: 0.8;
      z-index: 4;
      margin-bottom: 80px;
    }
    @media (max-width: 665px) {
      margin-bottom: 40px;
    }
  }

  &__img {
    z-index: 3;
    position: absolute;
    top: 10%;
    @include adaptiv("max-width", 665, 216, 0);
    @media (max-width: 1440px) {
      top: 5%;
    }
    @media (max-width: 980px) {
      top: 17%;
    }
    @media (max-width: 530px) {
      top: 23%;
    }
  }

  &__link {
    font-weight: 700;
    display: inline-flex;
    justify-content: center;
    background-color: $red;
    border-radius: 27px;
    color: $white;
    text-decoration: none;
    width: auto;
    z-index: 3;
    box-shadow: 0px 0px 29px 16px $red;
    @include adaptiv("font-size", 45, 12, 0);
    @include adaptiv("padding", 34, 12, 0);

    &:hover {
      background-color: $white;
      box-shadow: 0px 0px 29px 16px $white;
      color: $red;
      transition: 0.6s;
    }
  }

  &__crutch {
    width: 34px;
    display: inline-block;
  }
}
.section-right {
  background-color: $white;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;

  @media (max-width: 830px) {
    flex-direction: column;
    background-color: $black;
    height: auto;
  }
  &__trap {
    position: absolute;
    width: 70%;
    top: 0;
    right: 0;
    height: 100vh;
    border-left: 300px solid transparent;
    border-bottom: 100vh solid $red;
    @media (max-width: 830px) {
      display: none;
    }
  }
  &__image-wrapper {
    @include adaptiv("margin-left", 200, 50, 0);
    @media (max-width: 830px) {
      margin: 0;
      width: 70%;
      display: flex;
      padding: 50px 0;
      background-color: $white;
      align-items: center;
      justify-content: center;
    }
  }

  &__img {
    @include adaptiv("width", 600, 199, 0);
  }

  &__content {
    z-index: 1;
    display: flex;

    flex-direction: column;
    @include adaptiv("padding", 80, 30, 0);
    @media (max-width: 830px) {
      background-color: $red;
      width: 70%;
      align-items: center;
    }
  }

  &__title {
    font-weight: 700;
    margin-bottom: 40px;
    @include adaptiv("font-size", 32, 15, 0);
    @include adaptiv("line-height", 39, 18, 0);
  }

  &__text {
    font-weight: 500;

    @include adaptiv("font-size", 25, 12, 0);
    @include adaptiv("line-height", 30, 15, 0);
    @include adaptiv("margin-bottom", 50, 20, 0);
  }

  &__link {
    font-weight: 700;
    display: inline-flex;
    justify-content: center;
    border: 2px solid $white;
    border-radius: 23px;
    text-decoration: none;
    padding: 30px 90px;
    color: $white;
    width: auto;
    align-self: center;
    @include adaptiv("font-size", 32, 11, 0);
    @include adaptiv("line-height", 39, 11, 0);

    &:hover {
      background-color: $white;
      color: $red;
      border: 2px solid $white;
      transition: 0.6s;
    }
    @media (max-width: 1440px) {
      padding: 20px 30px;
    }
    @media (max-width: 440px) {
      padding: 6px;
      font-weight: 500;
    }
  }
}

.section-left {
  background-color: $black;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 50px 0;
  @media (max-width: 830px) {
    flex-direction: column-reverse;
    height: auto;
  }
  &__trap {
    position: absolute;
    width: 70%;
    top: 0;
    left: 0;
    height: 100vh;
    border-right: 300px solid transparent;
    border-bottom: 100vh solid $black;
    z-index: 2;
    @media (max-width: 830px) {
      display: none;
    }
  }
  &__image-wrapper {
    @include adaptiv("margin-right", 80, 50, 0);
    display: flex;
    background-color: $white;
    padding: 60px;

    @media (max-width: 830px) {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0;
    }

    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    z-index: 2;
    @include adaptiv("max-width", 500, 199, 0);
  }

  &__content {
    z-index: 3;
    display: flex;
    flex-direction: column;
    @include adaptiv("padding", 80, 30, 0);
    @media (max-width: 830px) {
      background-color: $black;
      width: 70%;
      border: 4px solid $white;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 40px;
  }

  &__text {
    font-weight: 500;
    @include adaptiv("margin-bottom", 50, 20, 0);
    @include adaptiv("font-size", 25, 12, 0);
    @include adaptiv("line-height", 30, 15, 0);
  }

  &__link {
    font-weight: 700;
    display: inline-flex;
    justify-content: center;
    border-radius: 7px;
    text-decoration: none;
    padding: 30px 90px;
    background-color: $white;
    color: $black;
    align-self: end;
    border: 3px solid $white;
    text-align: center;
    @include adaptiv("font-size", 32, 13, 0);
    @include adaptiv("line-height", 39, 12, 0);

    &:hover {
      background-color: $black;
      color: $white;
      border: 3px solid $white;
      transition: 0.6s;
    }

    @media (max-width: 1440px) {
      padding: 20px 27px;
    }
    @media (max-width: 440px) {
      padding: 10px;
      font-weight: 500;
    }
    @media (max-width: 350px) {
      padding: 3px;
    }
  }
}

.section-gallary {
  @include adaptiv("margin-top", 200, 30, 0);
  @media (max-width: 830px) {
    height: 100vh;
    display: flex;
  }
  &__container {
    max-width: 1550px;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    @media (max-width: 830px) {
      flex-direction: column;
      align-items: center;
      position: relative;
    }
  }

  &__card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  &__img {
    box-shadow: 0px 0px 60px 18px $white;
    border-radius: 26px;
    margin-bottom: 60px;
    max-width: 300px;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
}

.section-blur {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;

  @include adaptiv("margin-top", 100, 30, 0);
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
  }
  &__img {
    @include adaptiv("width", 1920, 300, 0);
    @media (max-width: 680px) {
      filter: blur(10px);
    }
    @media (max-width: 420px) {
      height: 150px;
    }
  }

  &__wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 43%;
    top: 26%;
    left: 29%;
    flex-direction: column;
    text-align: center;
    @media (max-width: 1440px) {
      top: 13%;
    }
    @media (max-width: 830px) {
      width: 75%;
      left: 13%;
    }
  }
  &__title {
    font-weight: 700;
    @include adaptiv("font-size", 36, 11, 0);
    @include adaptiv("line-height", 44, 13, 0);
    @include adaptiv(" margin-bottom", 60, 5, 0);
  }
  &__text {
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    @include adaptiv("font-size", 30, 10, 0);
    @include adaptiv("line-height", 36, 12, 0);
  }
}

.is-red {
  color: $red;
}

.footer {
  height: 30vh;
  padding: 100px 0;
  @media (max-width: 830px) {
    padding-top: 50px;
  }
  &__contact {
    background-color: $white;
    display: flex;
    padding-right: 100px;
    justify-content: flex-end;
    align-items: center; /******************************************************************************/
    @media (max-width: 830px) {
      justify-content: center;
      align-items: center;
      background-color: $black;
      flex-direction: column;
      padding: 0;
    }
  }

  &__link {
    font-weight: 700;
    color: $black;
    text-decoration: none;
    margin-right: 90px;
    padding: 20px 0;
    @include adaptiv("font-size", 30, 14, 0);
    @include adaptiv("line-height", 36, 16, 0);

    @media (max-width: 830px) {
      background-color: $white;
      margin-right: 0;
      margin-bottom: 15px;
      padding: 15px 30px;
      width: 70%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 7px;
    }
  }

  .vk-link {
    width: auto;
    padding: 10px;
  }
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  transition: 0.5s;
  &__body {
    background-color: $red;
    min-width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition-delay: 0.2s;
    border-radius: 21px;
    @include adaptiv("height", 500, 350, 0);
    @include adaptiv("padding", 50, 30, 0);
  }
  &__btn {
    width: 30px;
    height: 30px;
    background-color: $white;
    border-radius: 50%;
    top: -3%;
    right: -8px;
    z-index: 5;
    position: absolute;
    cursor: pointer;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 16px;
      height: 1px;
      background: $red;
      top: 48%;
      left: 24%;
    }
    &::before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  &__content {
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(200, 200, 200, 0.9);
  &__input {
    width: 80%;
    background-color: $white;
    border-radius: 17px;
    padding: 10px;
    border: none;
    margin-bottom: 20px;
    text-indent: 15px;
    font-weight: 700;
    color: $black;
    transition: 0.5s;
    @include adaptiv("font-size", 25, 14, 0);
    @include adaptiv("line-height", 30, 16, 0);
  }

  &__btn {
    padding: 8px 20px;
    border: 3px solid $white;
    border-radius: 17px;
    color: $white;
    width: auto;
    background-color: $red;
    cursor: pointer;
    font-weight: 700;
    margin-top: 40px;
    @include adaptiv("font-size", 30, 14, 0);
    @include adaptiv("line-height", 36, 16, 0);
    &:hover {
      background-color: $white;
      color: $red;
      transition: 0.8s;
    }
  }
}

.is-open {
  opacity: 1;
  z-index: 4;

  transition: 0.5s;
  transform: scale(1);
}

.form * {
  outline: none;
}
.form__input:focus {
  box-shadow: 0 0 15px $white;
}
.swiper {
  width: 100%;
  height: 100%;
}

.is-none {
  display: none;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  @include adaptiv("margin-top", 70, 0, 0);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-img {
  box-shadow: 0px 0px 60px 18px $white;
  border-radius: 26px;
  margin-bottom: 60px;
  max-width: 300px;
  @media (max-width: 830px) {
    border-radius: 3px;
    box-shadow: 0px 0px 40px 9px $white;
  }
  @media (max-width: 440px) {
    max-width: 230px;
  }
  @media (max-width: 380px) {
    max-width: 200px;
  }
}

.swiper-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 10px 20px;
}
